body {
    background-color: aquamarine;
}

.header-text {
    color: red;
}

#my-div {
    width: 500px;
    height: 100px;
    background-color: antiquewhite;
    /* border-radius:30px; */
    display: flex;
    border-width:3px;
    border-color: black;
    border-style:groove;

}
/* 20.4 px = 1.275 rem */
.header{
    width: 1300px;
    height: 400px;
    background-color: rgba(0,0,0,0.6);
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 5rem),
        0% 100%

    );
}

